@import "@tomtom-international/web-sdk-maps";
@import '@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css'; // impport of the app
@import './partials/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: white;
    position: relative;
}

.container.dark{
    @import './dark.scss';
}

.mapboxgl-ctrl-bottom-right{
    display: none !important;
}